.colors-container {
	font-size: 0.875rem;
	display: none;
	gap: 10px;
	padding: 10px;
	background: var(--logo);
}

.color {
	margin-block-end: 5px;
	border: 0;
	outline: 0;
	cursor: pointer;
	color: rgb(60, 66, 87);
	background-color: rgb(255, 255, 255);
	box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
		rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px,
		rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
		rgb(60 66 87 / 8%) 0px 2px 5px 0px;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 500;
	padding: 4px 8px;
	display: inline-block;
	min-height: 28px;
	transition: background-color 0.24s, box-shadow 0.24s;
	width: 20px;
	height: 20px;
	border: 1px solid black;
	cursor: pointer;
}

.note-preview:hover .colors-container {
	display: flex;
}
