.mail-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    white-space: nowrap;
    margin-left: 40px;
    margin-top: 20px;
    border-left: .3px solid rgb(158, 152, 152);
   

}