.mail-header {
    top: 70px;
    position: absolute;
    width: 99%;
    height: 25px;
    background-color: var(--main-bg);
    -webkit-box-shadow: 1px 0px 10px -10px #000000;
    box-shadow: 1px 0px 10px -10px #000000;
}